/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: rgba(149, 97, 226, 1);
  --ifm-color-primary-dark: rgba(149, 97, 226, 0.9);
  --ifm-color-primary-darker: rgba(149, 97, 226, 0.8);
  --ifm-color-primary-darkest: rgba(149, 97, 226, 0.7);
  --ifm-color-primary-light: rgba(149, 97, 226, 0.6);
  --ifm-color-primary-lighter: rgba(149, 97, 226, 0.5);
  --ifm-color-primary-lightest: rgba(149, 97, 226, 0.4);
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
/* [data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}

.markdown li {
  list-style: disc;
  margin-left: 16px;
}

.navbar__item,
.footer__link-item {
  display: flex;
  align-items: center;
}

.breadcrumbs,
.breadcrumbs__item {
  display: flex;
  align-items: center;
}
